.cp{
    cursor: pointer !important;
}
ul.retnmy-pagination a{
    text-decoration: none;
}


/* note section start */

.note-pragraph {
    display: inline-block;
    width: 30%;
    margin-top: 10px;
}
.note-pragraph p {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 18px;
}
.note-pragraph a {
    font-size: 14px !important;
    text-decoration: none;
    color: #222;
    font-weight: 500;
}
.note-pragraph a:hover {
    text-decoration: underline;
}
.note-pragraph a i {
    font-size: 15px;
    font-weight: bold;
}
@media (max-width:1400px) {
    .note-pragraph {
        width: 30%;
    }
    .note-right {
        width: 40%;
    }
}
@media (max-width:1199px) {
    .note-pragraph {
        width: 20%;
    }
    .note-right {
        width: 30%;
    }
}

/* note section end */

/* item search start */
.admin-cart .search-close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

*,*:after,*:before {
    box-sizing: border-box;
}
.item-search-dropdown {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    cursor: pointer;
    outline: none;
}
.item-search-dropdown ul{
    max-height: 376px;
    overflow-y: scroll;
}
.dropshadow {
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
      0px 5px 4px rgba(3, 7, 18, 0.03),
      0px 12px 9px rgba(3, 7, 18, 0.05),
      0px 20px 15px rgba(3, 7, 18, 0.06),
      0px 32px 24px rgba(3, 7, 18, 0.08);
}
.item-search-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
}
.item-search-dropdown .dropdown {
    position: absolute;
    top: 60%;
    left: 10px;
    right: 10px;
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}
.item-search-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease-out;
}
 
.item-search-dropdown .dropdown li i {
    color: inherit;
    vertical-align: middle;
}
 
.item-search-dropdown .dropdown li:hover a {
    color: rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
}
.item-search-dropdown.active:after {
    border-width: 0 6px 6px 6px;
}
 
.item-search-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    background: white;
    z-index: 999;
}
.dropdown-item {
  background-color: #fff;
  color: #333;
  margin: 10px 0px;
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid lightgray;
}
/* item search end */

.form-group label,
.quant label {
  font-weight: 500;
  color: #74788d !important;
}

.admin-quantity span {
  height: 40px !important;
  line-height: 28px;
  padding: 5px 5px;
  margin-top: -2px !important;
}
.size,
.quantity {
  width: 90px;
  height: 35px !important;
}
.quantity.admin-quantity {
  width: 190px;
}
.admin-quantity input {
  height: 40px;
  border: 1px solid #f2f3f8 !important;
  width: 80px;
}

.admin-quantity input:focus {
  box-shadow: none;
  outline: 0;
  border: 1px solid #f2f3f8 !important;
}
@media (max-width: 1199px) {
  .admin-quantity {
    width: 100%;
  }
  .admin-quantity input {
    width: 80px;
  }
}

/* -------------------------------------------------------------------------- */
/*                         Customer Portal Sidebar Css                        */
/* -------------------------------------------------------------------------- */
.rm-wp-customer-wrapper {
    overflow: hidden;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-color: #eee #e7e7e7;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-top: 50px;
}
.rm-wp-row {
    flex: 1 0 auto;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.rm-wp-left-sidebarmenu {
    width: 250px;
    padding: 0;
    flex: 0 0 auto;
}
.rm-wp-sidebarmenu-inner {
    background-color: #fff;
    height: 100%;
    margin-top: 0;
    box-shadow: 0 0 15px 0 rgba(51,77,136,.05);
    border-radius: 3px;
    border-right: 1px solid #eee;
}
.rm-profile-img {
    margin-bottom: 20px;
}
.rm-profile-name {
    padding-bottom: 15px;
    padding-left: 15px;
}
.rm-side-menu ul {
    list-style: none;
    padding: 0;
}
.rm-side-menu ul li a {
    padding: 5px 15px;
    display: block;
    border-bottom: 1px solid #eee;
}
.rm-side-menu ul li:last-child a {
    border-bottom: none;
}
/* .rm-side-menu {
    padding-bottom: ;
} */
.rm-wp-right-content {
    padding: 0;
    flex: 1 auto;
    min-width: 0;
    max-width: 100%;
}
.rm-wp-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eee;
}
.rm-customer-content {
    padding: 20px 20px;
}
.rm-customer-info {
    justify-content: space-between;
}
.rm-customer-content-inner {
    background-color: #fff;
}
.RentMyNoProductFoundMessage{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #888;
}
@media screen and (max-width: 900px) {
    .RentMyNoProductFoundMessage{
        text-align: center;
        margin-top: 20px;
    }
}
@media screen and (min-width: 901px) {
    .RentMyNoProductFoundMessage{
        margin-left: 20px;
    }
}

.disabled-cursor {
    opacity: .8;
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.color-variants li{
    width: 28px !important;
    height: 28px !important;
    padding: 0px !important;
}

.startdate-active {
    border: 1px solid #333 !important;
}

.daterange-active {
    border: 1px solid #333 !important;
}
