.modal {
  background-color: rgba(0, 0, 0, 0.678) !important;
}

.modal.show .modal-body{
    animation: openModal 0.3s;
}
@keyframes openModal {
  from {
    transform: translateY(10px); 
    scale: 0.7;
  }
  to {
    transform: translateY(0px);
    scale: 1;
  }
}
