.page-item.active .page-link {
    background-color: #333333;
    border-color: #333333;
}
.page-link {
    color: #333333;
}
.page-link:hover {
    color: #333333;
}
.page-link:focus {
    color: #333333;
    box-shadow: none;
    background-color: inherit;
}