<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
            integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="container">

            <div class="RentMyCartWrapper RentMyWrapper">
                <div class="container-fullwidth" InsideContainer>
            
                    <div class="RentMyAddonProducts RentMyRelatedProduct" RentMyRelatedProducts>
                        <h3 class="RentMyRelatedProductTitle">Add-On Products</h3>
                        <div class="RentMyRelatedProductBody">
                            <div class="RentMyRow">
                                <div class="RentMyProductItem" RentMyProductItem>
                                    <div class="RentMyProductItemInner">
                                        <div class="RentMyProductImg">
                                            <a href="#" RentMyProductImageUrl>
                                                <img RentMyProductImage
                                                    src="https://s3.us-east-2.amazonaws.com/images.rentmy.co/products/982/193260/hrfnd9e_1669558177_2qqwq6o.jpg"
                                                    class="ProductImg" alt="product img" />
                                            </a>
                                            <!-- <div class="RentMyProductOverlay">
                                                <a class="ProductDetailsIcon" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="ProductCartIcon" href="#"><i class="fa fa-shopping-bag"></i></a>
                                            </div> -->
                                        </div>
                                        <div class="RentMyProductBody">
                                            <h4 class="ProductName" RentMyProductName> Product_name </h4>
                                            <h5 class="ProductPrice" RentMyProductPrice> product_price </h5>
                                            <div class="ProductButton">
                                                <a class="ProductDetailsBtn" href="#" RentMyViewDetailsBtn>View Details</a>
                                                <button class="ProductCartBtn" href="#" RentMyAddToCartBtn>Add to Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            
                    <div class="RentMyRow" RenatalDateArea>
                        <div class="RentMyFullwidth">
                            <span class="RentMyCartDateRange" DateRange>
                                <b>Rental Dates</b> <span DateText>11/22/2023</span> <i class="fa fa-edit date-editicon" EditDate></i>
                            </span>
                            <div class="RentMyDatePicker" id="RentMyDatePicker" DatePicker>
                                <button class="RentMyBtn RentMyBtnBlack" BtnCancel>Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="RentMyTableResponsive">
                        <table class="RentMyTable RentMyTableStriped RentMyCartTable" RentMyCartTable>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Product</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr CartItem>
                                    <td DeleteIconArea>
                                        <a class="CartRemoveProduct"><i class="fa fa-trash"></i></a>
                                    </td>
                                    <td ImageArea>
                                        <img test="ImageArea" src="https://s3.us-east-2.amazonaws.com/images.rentmy.co/products/108/5038/yoeqaom_1580119625_8v7tvwh.jpg" class="cart product img" alt="" />
                                    </td>
                                    <td ItemNameArea>
                                        Product1
                                    </td>
                                    <td ItemPrice>
                                        $50.00
                                    </td>
                                    <td IncrDecrArea>
                                        <div class="QuantityContainer">
                                            <div class="QuantityBtn">
                                                <button class="RentMyBtn" DecrementBtn>-</button>
                                                <input type="text" autocomplete="off" name="qty" class="InputQuantity" QuantityInput/>
                                                <button class="RentMyBtn" IncrementBtn>+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td ItemPriceArea>
                                        $255.00
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                    <div class="RentMyRow RentMyCartSummery">
                        <div class="RentMyHalfwidth">
                            <div class="RentMyCouponCode RentMyFlex">
                                <input type="text" class="RentMyInputField" placeholder="Enter Coupon Code" CouponInput/>
                                <button type="submit" class="RentMyBtn RentMyBtnBlack" ApplyCouponBtn>Apply Coupon</button>
                            </div>
                            <div class="RentMyButtonGroup CheckoutMakeContinueBtn">
                                <button class="RentMyBtn RentMyBtnBlack" ContinueShoppingBtn>Continue Shopping</button>
                                <div class="MakeContinue">
                                    <button class="RentMyBtn RentMyBtnBlack" MakeQuotoBtn>Make quote</button>
                                    <button class="RentMyBtn RentMyBtnBlack" ProceedCheckoutBtn>Proceed Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="RentMyHalfwidth">
                            <h4 class="RentMyCartTotal">Cart Totals</h4>
                            <table class="RentMyTable RentMySummeryTable" RentMySummeryTable>
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td>
                                            <span>
                                                <b SubtotalAmount>€0.00</b>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Deposit Amount</td>
                                        <td><span DepositeAmount> €0.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Charge</td>
                                        <td><small> Calculated in the next step</small></td>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <td><span TaxAmount> €0.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>Delivery Tax</td>
                                        <td><small> Calculated in the next step</small></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Total</h5></td>
                                        <td>
                                            <h5><span TotalAmount>€0.00</span></h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </body>

</html>