.profile-img {
    text-align: center;
}
.profile-img img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
.profile-name {
    text-align: center;
    font-weight: 700;
}
.side-menu ul {
    list-style: none;
    padding-left: 0;
}
.side-menu ul li {
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}
.side-menu ul li:after {
    content: '❯';
    right: 10px;
    top: 10px;
    position: absolute;
    font-weight: 800;
}
.side-menu ul li a {
    display: block;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}
.side-menu ul li a:hover {
    text-decoration: none;
}
.page-header {
    padding: 10px;
    box-shadow: 0px 2px 5px 0px #d7d5d5;
}
.side-menu ul li a {
    text-decoration: none !important;
}
.side-menu ul li a.active {
    background: #ebe9e9;
}
.quantity {
    width: 20%;
    height: 31px;
}